[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
torch = "*"
torchvision = "*"
captum = {git = "https://github.com/pytorch/captum.git", editable = true, ref = "optim-wip"}
torchaudio = "*"
ipykernel = "*"
autopep8 = "*"
sklearn = "*"
tqdm = "*"
requests = "*"
pytorch-pretrained-biggan = "*"
h5py = "*"
ipywidgets = "*"
jupyter = "*"
ray = "*"
nltk = "*"
