[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
torch = "*"
torchvision = "*"
# Must downgrade because later versions rely on torch.fft.fftfreq which was introduced in 1.8.1, but CLIP requires 1.7.1
captum = {git = "https://github.com/pytorch/captum.git", editable = true, ref = "optim-wip"}
ipykernel = "*"
autopep8 = "*"
sklearn = "*"
tqdm = "*"
requests = "*"
pytorch-pretrained-biggan = "*"
h5py = "*"
ipywidgets = "*"
jupyter = "*"
ray = "*"
nltk = "*"
clip = {git = "https://github.com/openai/CLIP.git"}
